################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Frontend/LearningPlanVisualization/Assets/SteamVR
/Frontend/LearningPlanVisualization/Assets/Photon
/Frontend/LearningPlanVisualization/Assets/GoogleARCore
/Frontend/LearningPlanVisualization/Assets/PlayServicesResolver
/Frontend/LearningPlanVisualization/UWP
/Frontend/LearningPlanVisualization/Win
/Frontend/LearningPlanVisualization/App
/Frontend/LearningPlanVisualization/VR
